<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <title>The Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div class="content">
      <header>
        <div>
          <h1>The Travel App</h1>
        </div>
        <div class="addFlights">
          <!-- <form onsubmit="return Client.addFlight(event)"> -->
          <label for="submit"></label>
          <input type="submit" id='submit' name='submit' onclick="return addFlight()" value="Add New Flight"
            onsubmit="return addFlight()">
          <label for="from">From:</label>
          <input type="text" id="from" name="from" value="Yuma" required>
          <label for="to">To:</label>
          <input type="text" id="to" name="to" value="Roma" required>
          <label for="date">Departure:</label>
          <input type="date" id="date" name="date" value="2021-01-20" required>

          <!-- </form> -->
        </div>
      </header>

      <main id="main">
        <!-- <div class="flights">
          <div class="flightsData">
            <img src="https://via.placeholder.com/200">
            <div>
              <p>Flight from Yuma to Roma</p>
              <p>Departure: 2021-01-20</p>
            </div>

          </div>
          <div><button type="button">Remove</button><button type="button">Save</button></div>
        </div> -->
      </main>
    </div>
    <footer class="footer">
      <div>Copyright to The Travel App.</div>
    </footer>

    <!-- <script src="index.js" type="text/javascript"></script> -->
  </body>

</html>