html, body{
  height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  font-family: roboto;
}
.content{
  flex: 1 0 auto;
}
header {

  background-color: #444;
  color: white;
  position: sticky;
  top:0;
  
}
.title{
  font-size: xx-large;
   margin-left:10px;
}
.addFlights{
  height:auto;
  display: flex;
  background-color: darkgray;
  padding-left:10px;
  padding-top:10px;
  padding-bottom: 10px;
}
.addFlights label{
  padding-left: 5px;
}

footer {
  flex-shrink: 0;
  background-color: #999;
  padding-left: 10px;
}


main {
  display: grid;
  margin-top: 5px; 
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  
}


.flightContainer {
  display: grid;
  background-color: #444;
  color: #fff;
  max-width: 640px;
  margin: 10px;
  font-size: 100%;
  align-items: center;

}
.details{
  // grid-area: details;
  max-height: 132px;
}

.picture img{
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

 .remove{
    font-size: 100%;

 }

@media only screen and (min-width: 300px) {
  .addFlights {
    flex-direction: column;
  }
}
 @media only screen and (min-width: 768px) {
  .addFlights {
   
    flex-direction: row;
    flex-wrap: wrap;
    
  }
}
@media only screen and (min-width: 992px) {
  main{      
    grid-template-columns: repeat(auto-fit, minmax(44%, 1fr));
  }
}
@media only screen and (min-width: 1200px) {

  main{
      grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  }
 
}
 ul{
    list-style: none;
  }