body {
  margin: 0px;
  padding: 0px;
  height: 98.7vh;
  background-color: #fff;
  /* border: 1px solid sandybrown; */
}

.wrapper {
  margin: 5px;
  background-color: #fff;
  border: 2px solid rgb(68, 160, 68);
  height: 100%;
  color: #444;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "header"
    "container"
    "footer";
}

@media only screen and (min-width: 500px) {
  .wrapper {
    border: 2px solid rgb(202, 11, 11);

    grid-template-columns: 40% auto;
    grid-template-rows: 100px auto 60px;
    grid-template-areas:
      "header header"
      "container container"
      "footer footer";
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    grid-gap: 20px;
    border: 6px solid blue;
    grid-template-rows: 100px auto 60px;
    grid-template-areas:
      "header header header"
      "container container container"
      "footer footer footer";
  }
}

header {
  grid-area: header;
  background-color: #444;
  color: white;
  border: 5px solid pink;
}
main {
  grid-area: container;
  border: 3px solid purple;
}
footer {
  grid-area: footer;
  background-color: #999;
  border: 5px solid yellow;
}

.flights {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  font-size: 150%;
}
